.form {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 20px;
  }

  &__title {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  &-group {
    align-items: center;
    padding: 20px;

    @media (max-width: 768px) {
      padding: 10px;
    }

    &__title {
      font-size: 1.6rem;
      padding: 20px 0;

      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
    }

    &__btn {
      background: rgb(86, 255, 0);
      background: linear-gradient(
        0deg,
        rgba(86, 255, 0, 1) 0%,
        rgba(248, 255, 245, 1) 100%
      );
      border-radius: 5px;
      height: 30px;
      text-transform: uppercase;
      width: 70px;

      &:hover {
        background: rgb(168, 255, 0);
        background: linear-gradient(
          0deg,
          rgb(168, 255, 0) 0%,
          rgba(248, 255, 245, 1) 100%
        );
        box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }

    &__list {
      align-items: center;
      border: 1px solid $text-gray;
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      width: 500px;

      @media (max-width: 768px) {
        padding: 10px;
        width: 400px;
      }
    }

    &__label {
      font-size: 1.6rem;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }

    &__input {
      border: 1px solid $text-gray;
      border-radius: 10px;
      height: 40px;
      margin-right: 30px;
      padding: 5px;
      width: 40px;

      &::placeholder {
        font-size: 1rem;
      }

      &:focus {
        border-style: none;
        outline: 2px outset #ff8100;
      }

      &-min {
        border: 2px solid #56ff00;

        &--success {
          border: 2px solid $border-green;
        }

        &--error {
          border: 2px solid #fb2b45;
        }
      }

      &-max {
        border: 2px solid #a8ff00;

        &--success {
          border: 2px solid $border-green;
        }

        &--error {
          border: 2px solid #fb2b45;
        }
      }

      &-attempt {
        border: 2px solid #ffd400;

        &--error {
          border: 2px solid #fb2b45;
        }
      }
    }
  }

  &__label {
    color: $text-dark-gray;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
  }

  &__input {
    border: 2px solid $border-blue;
    border-radius: 10px;
    font-size: 2rem;
    height: 50px;
    margin: 0 30px 0 10px;
    padding: 5px;
    width: 50px;

    &:focus {
      border-style: none;
      outline: 2px outset #ff8100;
    }

    &--error {
      border: 1px solid $border-blue-2;
      border-radius: 10px;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 0.5px;
      padding: 10px;
      text-align: center;
      width: 80%;

      &:focus {
        outline: 1px solid #e31f39;
      }

      @media (max-width: 768px) {
        font-size: 1.2rem;
        letter-spacing: 0;
      }
    }
  }

  &-generate {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  &__btn {
    height: 30px;
    width: 100px;
    @media (max-width: 768px) {
      width: 70px;
    }

    &--play {
      background: rgb(79, 146, 212);
      background: linear-gradient(
        0deg,
        rgba(79, 146, 212, 1) 0%,
        rgba(248, 255, 245, 1) 100%
      );

      &:hover {
        background: rgb(79, 212, 186);
        background: linear-gradient(
          0deg,
          rgba(79, 212, 186, 1) 0%,
          rgba(248, 255, 245, 1) 100%
        );
        box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }

    &--exit {
      background: rgb(210, 65, 163);
      background: linear-gradient(
        0deg,
        rgba(210, 65, 163, 1) 0%,
        rgba(248, 255, 245, 1) 100%
      );
      margin: 0 auto;

      &:hover {
        background: rgb(135, 65, 210);
        background: linear-gradient(
          0deg,
          rgba(135, 65, 210, 1) 0%,
          rgba(248, 255, 245, 1) 100%
        );
        box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      }
    }

    &--disabled {
      background: $text-gray;
      border-style: none;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.btn {
  border-radius: 5px;
  color: #1e2240;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
