* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $html-font-size;
}

body {
  color: $body-font-color;
  font: $body-fw $body-fz/$body-lh $body-font;
}

a {
  text-decoration: none;
}

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

input::placeholder {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

input::input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
