$main-font: "Roboto";

// Text Colors
$text-dark-gray: #444447;
$text-gray: #9c9ca7;
$text-white: #f1f1ff;

$html-font-size: 10px;
$body-font-color: $text-dark-gray;
$body-font: $main-font;
$body-fz: 1rem;
$body-fw: 400;
$body-lh: 1;
